body, html{
  height: 100%;
}

.cont{
  height: calc(100% - 71px);
  top: 48px;

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;

  overflow: auto;
}

#mySidebar{
  width: 200px;
  height: calc(100% - 71px);
  display: block;
}

#mySidebar_right{
  width: 300px;
  height: calc(100% - 71px);
  display: block;
}
