version2/CODE/test_simples.ino        #são testes simples que não devem ir para github
version2/CODE/textHTML_exemplo.html   #são testes simples que não devem ir para github
run/ #ignorar na hora de fazer commit
